*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(183, 238, 252);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#cardsContainer{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}
.front{
    display: none;
}
.front,.back{
    width: 150px;
    height: auto;
}
.data{
    margin:0 auto ;
}
#data{
    display: flex;
    justify-content: space-around;
}
#result{
    min-height: 50px;
    font-size: 40px;
    text-align: center;
}
